.main {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);

}



/*  */

.mainContact {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px;
  background: black;
}

.mainContact h2 {
  font-size: 40px;
  color: white;
  text-align: center;
}

.mainContactHolder {
  position: relative;
  width: fit-content;
  height: auto;
  padding: 10px;
  margin: 10px auto;
}

.mainContactCard {
  position: relative;
  width: 300px;
  height: 350px;
  background: white;
  border-radius: 10px;
  margin: 2px 10px;
  display: inline-block;
}

.mainContactCardImage {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 50%;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px auto;
}

.mainContactCardImage img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.cardDetails {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
}

.cardDetails p {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  color: #222222;
  text-transform: capitalize;
}

.cardDetails span {
  color: #222222;
  font-size: 15px;
  font-weight: 500;
}

.cardContact {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
}

.cardContact p {
  position: relative;
  width: auto;
  height: auto;
  padding: 10px;
  line-height: 0px;
  font-size: 20px;
  background: white;
  color: #000;
  border-radius: 50%;
  margin: 2px 5px;
}

.cardContact p:hover {
  color: white;
  background: #222222;
}

.footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px 10px;
  text-align: center;
  border-top: .5px solid white;
}

.footer p {
  position: relative;
  width: auto;
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}

.footer p a {
  color: #add8e6;
  text-decoration: underline;
}




@media only screen and (max-width: 600px) {


  .mainContact {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
    background: black;
  }

  .mainContact h2 {
    font-size: 30px;
    color: white;
    text-align: center;
  }

  .mainContactHolder {
    position: relative;
    width: fit-content;
    height: auto;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .mainContactCard {
    position: relative;
    width: 300px;
    height: 350px;
    background: white;
    border-radius: 10px;
    margin: 10px auto;
    display: inline-block;
  }
}